<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wynik Granicy Funkcji</title>
    <link href="{{ url_for('static', filename='styl_wynik.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>Wynik Granicy Funkcji</h1>
    <p>Funkcja: \( {{ funkcja }} \)</p>
    <p>Punkt: {{ punkt }}</p>
    <p>Granica: {{ wynik }}</p>
    <img src="{{ url_for('static', filename=nazwa_pliku) }}" alt="Wykres funkcji">
    <br>
    <a href="{{ url_for('granice_formularz') }}">Oblicz inną granicę</a>
</body>
</html>
