<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Wzory i własności granic funkcji</title>  
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='styl_strony_glownej.css') }}" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <div id="naglowek">
            <h1>Wzory i własności granic funkcji</h1>
        </div>
        <div id="panel">
            <div id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="{{ url_for('strona_glowna') }}"><h3>Strona Główna</h3></a></li>
                    <li><h3>Granice funkcji</h3>
                        <ul class="submenu">
                            <li><a href="{{ url_for('twierdzenia') }}">Twierdzenia</a></li>
                            <li><a href="{{ url_for('wzorywlasnosci') }}">Wzory, własności</a></li>
                            <li><a href="{{ url_for('przyklady_funkcje') }}">Przykłady</a></li>
                        </ul>
                    </li>
                    <li><h3>Granice ciągów</h3>
                        <ul class="submenu">
                            <li><a href="{{ url_for('twierdzenia_ciagi') }}">Twierdzenia</a></li>
                            <li><a href="{{ url_for('wzorywlasnosci_ciagi') }}">Wzory i własności</a></li>
                            <li><a href="{{ url_for('przyklady_ciagi') }}">Przykłady</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="tresc">
                <ol>
                    <li><strong>Własności granic funkcji w punkcie</strong></li>
                    Jeżeli istnieją granice: \( \displaystyle \lim_{x \to x_{0}} f(x)\), \( \displaystyle \lim_{x \to x_{0}} g(x)\) oraz \(c \in \mathbb{R}\), to:<br>
                    <ul>
                    <br>
                        <li>\(\displaystyle\lim_{x \to x_{0}} (c \cdot f(x)) = c \cdot \lim_{x \to x_{0}} f(x)\)</li>
                        <li>\( \displaystyle \lim_{x \to x_{0}} (f(x) + g(x)) = \lim_{x \to x_{0}} f(x) + \lim_{x \to x_{0}} g(x)\)</li>  
                        <li>\(\displaystyle\lim_{x \to x_{0}} (f(x) - g(x)) = \lim_{x \to x_{0}} f(x) - \lim_{x \to x_{0}} g(x)\)</li>  
                        <li>\(\displaystyle\lim_{x \to x_{0}} (f(x) \cdot g(x)) = \lim_{x \to x_{0}} f(x) \cdot \lim_{x \to x_{0}} g(x)\)</li> 
                        <li> \(\displaystyle\lim_{x \to x_{0}} g(x) \ne 0,\) to: \(\displaystyle \lim_{x \to x_{0}} \frac{f(x)}{g(x)} = \frac{\displaystyle\lim_{x \to x_{0}} f(x)}{\displaystyle\lim_{x \to x_{0}} g(x)}\)</li>      
                        <li>\(\displaystyle\lim_{x \to x_{0}} g(x) = 0\) oraz \(g \ge 0\), to: \(\displaystyle\lim_{x \to x_{0}} \sqrt{f(x)} = \sqrt{\displaystyle\lim_{x \to x_{0}} f(x)}\)</li>                             
                    </ul>
                    <br>  
                    <li><strong>Własności granic funkcji w nieskończoności</strong></li>
                    Jeżeli istnieją granice: \( \displaystyle \lim_{x \to +\infty} f(x)\), \( \displaystyle \lim_{x \to +\infty} g(x)\) oraz \(c \in \mathbb{R}\), to:<br>
                    <ul>
                    <br>
                        <li>\(\displaystyle\lim_{x \to +\infty} (c \cdot f(x)) = c \cdot \lim_{x \to +\infty} f(x)\)</li>
                        <li>\( \displaystyle \lim_{x \to +\infty} (f(x) + g(x)) = \lim_{x \to +\infty} f(x) + \lim_{x \to +\infty} g(x)\)</li>  
                        <li>\(\displaystyle\lim_{x \to +\infty} (f(x) - g(x)) = \lim_{x \to +\infty} f(x) - \lim_{x \to +\infty} g(x)\)</li>  
                        <li>\(\displaystyle\lim_{x \to +\infty} (f(x) \cdot g(x)) = \lim_{x \to +\infty} f(x) \cdot \lim_{x \to +\infty} g(x)\)</li> 
                        <li> \(\displaystyle\lim_{x \to +\infty} g(x) \ne 0,\) to: \(\displaystyle \lim_{x \to +\infty} \frac{f(x)}{g(x)} = \frac{\displaystyle\lim_{x \to +\infty} f(x)}{\displaystyle\lim_{x \to +\infty} g(x)}\)</li>      
                        <li>\(\displaystyle\lim_{x \to +\infty} g(x) = 0\) oraz \(g \ge 0\), to: \(\displaystyle\lim_{x \to +\infty} \sqrt{f(x)} = \sqrt{\displaystyle\lim_{x \to +\infty} f(x)}\)</li>  
                        Powyższe własności są również prawdziwe w przypadku granicy funkcji w \(- \infty\).
                            
                    </ul>
                    <br>  
                    <li><strong><u>Ważne</u> granice funkcji</strong></li>
                    <ul>
                        <li>\(\displaystyle\lim_{x \to 0} \frac{\sin x}{x} = 1\)</li>
                        <li>\(\displaystyle\lim_{x \to 0} \frac{\tan x}{x} = 1\)</li>  
                        <li>\(\displaystyle\lim_{x \to 0} \frac{\arcsin x}{x} = 1\)</li>
                        <li>\(\displaystyle\lim_{x \to 0} \frac{\arctan x}{x} = 1\)</li>    
                        <li>\(\displaystyle\lim_{x \to \infty} \left(1+ \frac{a}{x}\right)^x = e^a\)</li> 
                        <li>\(\displaystyle\lim_{x \to 0} \frac{\ln(1+x)}{x} = 1\)</li>  
                        <li>\(\displaystyle\lim_{x \to 0} \frac{\log_{a}(1+x)}{x} = \log_{a}e \)</li>    
                        <li>\(\displaystyle\lim_{x \to \infty} \left(\frac{e^x -1}{x}\right)^x = 1\)</li>  
                        <li>\(\displaystyle\lim_{x \to \infty} \frac{a^x -1}{x} = \ln a\)</li>           
                    </ul>
                </ol>
            </div>
        </div>
    </body>
</html>